@media screen and (min-width: 780px) {
	.cardsContainer {
		perspective: 2000px;
		transform-style: preserve-3d;
	}
	.cardsContainer > div {
		transform: rotateX(50deg);
		transition: all 0.1s ease-in-out;
		border-radius: 1rem;
		box-shadow: 2px 40px 8px rgba(0, 0, 0, 0.4);
	}

	.cardsContainer > div:hover {
		transform: rotateX(0);
	}
}

.cardsContainer > div:hover > .cardOverlay {
	display: grid;
}

.cardsContainer > div:hover > .cardOverlay > p {
	background-color: rgba(0, 0, 0, 0.45);
	color: white;
}

.cardOverlay {
	position: absolute; /* Sit on top of the page content */
	display: none;
	border-radius: 1rem;
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	place-items: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.25); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
